html, body {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;

    font-family: 'Inconsolata', monospace;
    color: #A6B2C0;
    background: #282c34;
}

a {
    text-decoration: none;
    color: #A6B2C0;
}
a:hover {
    color: #747D9180;
}